<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="__CSS__/index.css">
</head>

<body>
    <h1>后台管理系统</h1>
    <p>
        bs.js bs.css vue.js layui.css layui.js 图片.....
    </p>
    <p>
        "__IMAGE__/1.jpg";
    </p>
    <img src="__IMG__/1.jpg" alt="">
    <p>


        <a href="{:url('index/Index/login')}">后台</a>
    </p>
    <div>

    </div>

</body>

</html>